
@model List<Passanger>
@{ 
    ViewData["Title"] = "Passangers";
}


<h1>Passanger Index</h1>

<table class= "table table-bordered table-dark">
    <thead>
        <tr class="text-danger">
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.PassangerId</td>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@Html.ActionLink("Details", "Details", "Passanger", new { id = p.PassangerId })</td>
            <!--<td class=" border-danger">!!!Html.ActionLink("Remove", "Delete", "Passanger", new { id = p.PassangerId })</td> -->
            <td><form  method="post" asp-controller="Passanger" asp-action="Delete" asp-route-id="@p.PassangerId">
                    <input type="submit" value="Remove" class="btn btn-outline-danger"/>
                </form></td>


        </tr>
        }
    </tbody>

</table>