
@model List<Passanger>
@{ 
    ViewData["Title"] = "Passangers";
}


<h1>Passanger Index</h1>

<table class= "table table-bordered table-dark">
    <thead>
        <tr class="text-xl-center">
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.PassangerId</td>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>
                <form  method="get" asp-controller="Passanger" asp-action="Details" asp-route-id="@p.PassangerId" style="display:inline";>
                        <input type="submit" value="Details" class="btn-sm btn-primary"/>
                </form>
                <form  method="post" asp-controller="Passanger" asp-action="Delete" asp-route-id="@p.PassangerId" style="display:inline";>
                        <input type="submit" value="Remove" class="btn-sm btn-danger"/>
                </form>
            </td>


        </tr>
        }
    </tbody>

</table>